# PROMETHEUS_EXPRESSION OUTPUT_FILE
container_memory_usage_bytes{namespace="${OPENSHIFT_PROJECT}",container_name=""} pod_memory_usage.${pod_name}.csv
container_cpu_load_average_10s{namespace="${OPENSHIFT_PROJECT}",container_name=""} pod_cpu_usage.${pod_name}.csv

node:node_cpu_utilisation:avg1m node_cpu_usage.${node}.csv
node:node_memory_utilisation: node_memory_usage.${node}.csv
